---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 	Arial, Helvetica, sans-serif;
$base-font-size:   	16px;
$base-font-weight: 	400;
$small-font-size:  	$base-font-size * 0.875;
$base-line-height: 	1.6;

$spacing-unit:     	30px;

$nav-color:			#f1f3e7;
$text-color:       	#111;
$background-color: 	#fdfdfd;
$brand-color:      	#2a7ae2;
$red-magic:			#ff006c;
$blue-neon:			#1bbccf;
$neo-magic:			#b3f66a;


$grey-color:       	#cfc19d;
$grey-color-light: 	lighten($grey-color, 10%);
$grey-color-dark:  	darken($grey-color, 25%);
$site-dark-bg:   	rgba(51, 44, 44, 0.31);
$whitesmoke-alpha:	rgba(250, 255, 250, 0.95);

// Width of the content area
$content-width:    	800px;

$on-palm:          	600px;
$v-iphone:			320px;
$on-laptop:        	800px;
$foam-color: 	   	#6fbba3;
$header-title:	   	#082374;
$custom-align:		1430px;	 




// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}




// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"layout",
        "custom"
;
