---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 	Arial, Helvetica, sans-serif;
$base-font-size:   	16px;
$base-font-weight: 	400;
$small-font-size:  	$base-font-size * 0.875;
$base-line-height: 	1.6;

$spacing-unit:     	30px;

$nav-color:			#11fbc1;
$text-color:       	#111;
$background-color: 	#fdfdfd;
$brand-color:      	#2a7ae2;
$neo-magic:			#b3f66a;
$blue-neon:			#1bbccf;
$red-magic:			#ff006c;


$grey-color:       	#828282;
$grey-color-light: 	lighten($grey-color, 40%);
$grey-color-dark:  	darken($grey-color, 25%);
$foam-color: 		#6fbba3;
$header-title:	   	#082374; 
$site-header-bg:	#e8f764;
$whitesmoke-alpha:	hsla(131, 99%, 98%, 0.79);
$site-dark-bg:   	rgba(51, 44, 44, 0.31);

 


// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$custom-align:		1430px;	
$v-iphone:			320px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "custom"
;
