$darken-color: grey; // The color you want to use
$lighten-color: hsl(4deg, 90%, 58%); /*hsl(241deg, 49%, 41%);*/

$step: 1; // Set the initial step value

//The "<= #" determines the number of steps you want this while loop to create

@while $step <=12  {

// darkens color step by step
h2.greeting [aria-hidden] b:nth-child(#{$step}) {
    // Here we use the SASS darken function and darken our color by 2% each time.  Set this to whatever percentage you like. 
    color: darken($darken-color, ($step * 2%));
    background-color: lighten($lighten-color, ($step * 2%));
}

// Increment the step up by 1 so it continues until you've reached 10 (which you specified at the beginning of the function)
$step: $step + 1;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: #000000;
        }
    }
}




body{
	display: block;
	margin: 0 auto;
	padding: 0;
	max-width:80vw;
	border:2px solid $site-header-bg;
    font-family: Avenir, Futura, 'Open Sans', 'Gill Sans', 'Helvetica Neue', Ariel, sans-serif;
    min-height: 100vh;
    background-color: rgba(235, 207, 72, 0.7);
    background-image: url('https://c2.staticflickr.com/8/7739/17668630904_7932a02c7d_k.jpg');
}

main{
    background-color: rgba(232, 107, 0, 0.4);
    display:block;
    // border:5px solid #9D67DB;
}


.home{
    display:flex;
    flex-direction:column;
}
h2.greeting [aria-hidden]{
    display: flex;
    flex-wrap: wrap;
    padding:1em;
    }

h2.greeting [aria-hidden] b{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height:calc(3rem + 10vh);
    font-size: 3.2em;
    margin: 0 0.2rem 0.2rem 0;
    will-change: transform;
    transition: transform 1s;
    line-height: 1;
}


// h2.greeting [aria-hidden] b:nth-of-type(7){
//     display:none;
// }

figure.photo{
    width:100%;
        img.self-pic{
        display:block;
        width:250px;
        margin:0 auto;
        transition: all 0.3s cubic-bezier(.78,.29,.53,.83);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            &:hover{
                clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
                filter: blur(5px) hue-rotate(140deg) saturate(120%);
                ~ figcaption{
                        text-align: left;
                    }
                }
        }
    figcaption.pic-desc{
    width:250px;
    margin:0 auto;
    text-align:center;
    transition: all 0.9s ease;
    color: $whitesmoke-alpha;
    line-height: 2rem;
    &:hover{
            text-align: left;
        }
    }
}




@supports (display: grid) { 

.home{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 2, 1fr;  
}
article.spinner{
   grid-row: 1/2;
   grid-column:1/9;
}
h2.greeting{
    padding: 0.5em;
    perspective: 500px;

}
h2.greeting [aria-hidden] {
    display: grid;
    grid-gap:0.250rem;
    grid-template-columns: repeat(6, 1fr) 0;
    width:100%;
    }
h2.greeting [aria-hidden] b{
    background: #3e3d3d;
    height: calc(3rem + 10vh);
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    will-change: transform;
    transition: transform 1s;
    line-height: 1;
    }
    section.intro{
        display:grid;
        grid-column:4/5;
    }
    article.intro-block{
        grid-column: 3/7;
        padding: 1em;
        border: 2px solid aliceblue;
        background: $whitesmoke-alpha;
    }
}

section.intro{
        display:flex;
        justify-content: center;
    }
    article.intro-block{
        display: block;
        width:60vw;
        margin:0 auto;
        padding: 1em;
        border: 2px solid aliceblue;
        background: $whitesmoke-alpha;
    }



    article.spinner [aria-hidden]:hover b:nth-of-type(2n) {
    transform: rotateX(-395deg);
    }
    // article.spinner [aria-hidden] b:nth-of-type(2n):hover {
    //     transform: rotateY(-355deg);
    // }
    article.spinner [aria-hidden]:hover b:nth-of-type(2n+1) {
        transform: rotateY(-360deg);
    }



















