


$darken-color: #505054; // The color you want to use
$lighten-color: rgb(243, 251, 252); /*hsl(241deg, 49%, 41%);*/
$testD: #004c56;
$testL: #fff;

$step: 1; // Set the initial step value

//The "<= #" determines the number of steps you want this while loop to create

@while $step <=12  {

// darkens color step by step
h2.greeting [aria-hidden] b:nth-child(#{$step}) {
    // Here we use the SASS darken function and darken our color by 2% each time.  Set this to whatever percentage you like. 
    color: darken($darken-color, ($step * 2%));
    background-color: lighten($lighten-color, ($step * 2%));
}

h2.greeting [aria-hidden]:hover b:nth-child(#{$step}) {
    // Here we use the SASS darken function and darken our color by 2% each time.  Set this to whatever percentage you like. 
    color: lighten($testD, ($step * 2%));
}

// Increment the step up by 1 so it continues until you've reached 10 (which you specified at the beginning of the function)
$step: $step + 1;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: #000000;
        }
    }
}




body{
	display: block;
	margin: 0 auto;
	padding: 0;
	max-width:80vw;
	border:3px solid #1bbccf;
    font-family: Avenir, Futura, 'Open Sans', 'Gill Sans', 'Helvetica Neue', Arial, sans-serif;
    min-height: 100vh;
    background-color: rgb(233, 232, 249);;
    background-image: url('https://c2.staticflickr.com/8/7739/17668630904_7932a02c7d_k.jpg');
    background-position: 10% 90%;
}

main{
    background-color: rgba(10, 148, 194, 0.45);
    display:block;
    // border:5px solid #9D67DB;
}


.home{
    display:flex;
    flex-direction:column;
}
.header-svg{
    display:flex;
    justify-content:center;
    padding:1rem;
}
h2.greeting [aria-hidden]{
    display: flex;
    flex-wrap: wrap;
    padding:1em;
    justify-content:right;
    }

h2.greeting [aria-hidden] b{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 3em;
    height:calc(3rem + 10vh);
    font-size: 2.8rem;
    margin: 0 0.2rem 0.2rem 0;
    will-change: transform;
    transition: transform 1s;
    line-height: 1;
}


// h2.greeting [aria-hidden] b:nth-of-type(7){
//     display:none;
// }

figure.photo{
    width:100%;
        img.self-pic{
        display:block;
        width:220px;
        margin:0 auto;
        transition: all 0.3s cubic-bezier(.78,.29,.53,.83);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            &:hover{
                clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
                filter: blur(5px) hue-rotate(215deg) saturate(99%);
                ~ figcaption{
                        text-align: left;
                    }
                }
        }
    figcaption.pic-desc{
    width:220px;
    margin:0 auto;
    text-align:center;
    transition: all 0.9s ease;
    color: $whitesmoke-alpha;
    line-height: 2rem;
    }
}




@supports (display: Xgrid) { 

.home{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 2, 1fr;  
}
article.spinner{
   grid-row: 1/2;
   grid-column:1/9;
}
h2.greeting{
    padding: 0.5em;
    perspective: 500px;

}
h2.greeting [aria-hidden] {
    display: grid;
    grid-gap:0.250rem;
    grid-template-columns: repeat(6, 1fr) 0;
    // width:100%;
    }
h2.greeting [aria-hidden] b{
    background: #3e3d3d;
    height: calc(3rem + 10vh);
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    will-change: transform;
    transition: transform 1s;
    line-height: 1;
    }
    section.intro{
        display:grid;
        grid-column:1/9;
        justify-content:center;
    }
    article.intro-block{
        grid-column: 1/9;
        padding: 1em;
        border: 2px solid aliceblue;
        background: $whitesmoke-alpha;
    }
}

section.intro{
        display:flex;
        justify-content: center;
        flex-direction:column;

    }
    article.intro-block{
        width:67vw;
        margin:0 auto;
        padding: 1em;
        border: 3px solid #ff006c;
        background-color: $whitesmoke-alpha;
        background-image: linear-gradient(#cfe9b3 2px, transparent 2px),
        linear-gradient(90deg, #cfe9b3 1px, transparent 1px),
        linear-gradient(rgba(4,141,54,.2) 1px, transparent 1px),
        linear-gradient(90deg, rgba(4,141,54,.2) 1px, transparent 1px);
        background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
        background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
        font-size: 1.4em;
        color: #494949;
        line-height: 1.45em;
         > p span.headline {
        color: #04b8ce;
        font-weight: bold;
        font-size: 1.5rem;
        }
        > p span.rtl-healine{
            color: #ff006c;
            font-weight: bold;
        }
}




    article.spinner [aria-hidden]:hover b:nth-of-type(2n) {
    transform: rotateX(-395deg);
    }
    // article.spinner [aria-hidden] b:nth-of-type(2n):hover {
    //     transform: rotateY(-355deg);
    // }
    article.spinner [aria-hidden]:hover b:nth-of-type(2n+1) {
        transform: rotateY(-360deg);
    }


@media screen and (max-width: $custom-align) {
    h2.greeting [aria-hidden] {
        justify-content: center;
    }
}
















